/* Grid Styles Here */

html, body { height: 100%; }

::-webkit-scrollbar {
    display: none;
}

button{
	border-radius:3px;
	border:1px solid #0b0e07;
	padding:3px;
	margin: 10px;
}

.nav-button {
    position: absolute;
    left: 9px;
}
.betslip-button {
    position: absolute;
    right: 9px;
}

.app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

    .main {
        position: relative;
        -webkit-box-flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .main.showNav{
        -webkit-transform: translateX(270px);
        -ms-transform: translateX(270px);
        transform: translateX(270px);
    }

    .main.showBetslip{
        -webkit-transform: translateX(-320px);
        -ms-transform: translateX(-320px);
        transform: translateX(-320px);
    }

        .navigation {
            -webkit-box-flex: 0 0 270px;
            -webkit-flex: 0 0 270px;
            -ms-flex: 0 0 270px;
            flex: 0 0 270px;
            overflow: auto;
            margin-left: -270px;
            -webkit-transition: margin 0.5s ease;
            transition: margin 0.5s ease;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

        .realistic .content{
            -webkit-box-flex: 1 1 auto;
            -webkit-flex:1 1 auto ;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            width: auto;
            position: relative;
        }

            .main-content-wrapper{
                -webkit-box-flex: 1 1 auto;
                -webkit-flex: 1 1 auto;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                overflow: auto;
                -webkit-flex-direction: column;
                flex-direction: column;
                -webkit-overflow-scrolling: touch;
                -ms-overflow-style: -ms-autohiding-scrollbar;
            }

                .ovp{
                    -webkit-box-flex: flex: 0 0 250px;
                    -webkit-flex: flex: 0 0 250px;
                    -ms-flex: flex: 0 0 250px;
                    flex: flex: 0 0 250px;
                    border: 10px solid blue;
                    height: 250px;
                }

                .x-sell-head, .header, .x-sell-carousel, .footer {
                    -webkit-box-flex: 0 0 auto;
                    -webkit-flex: 0 0 auto;
                    -ms-flex:0 0 auto;
                    flex: 0 0 auto;
                }

                .x-sell-head {
                    -webkit-transition: margin 0.5s ease;
                    transition: margin 0.5s ease;
                }

                .x-sell-head.hide {
                    margin-top: -38px;
                }

                .main-content {
                    -webkit-box-flex: 1 1 auto;
                    -webkit-flex: 1 1 auto;
                    -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
                }


        .utilities {
            -webkit-box-flex: 0 0 320px;
            -webkit-flex: 0 0 320px;
            -ms-flex: 0 0 320px;
            flex: 0 0 320px;
            transition: margin 0.5s ease;
            margin-right: -320px;
        }

        @media only screen and (min-width: 1024px) {
            .nav-button {
                display: none;
            }
            .navigation {
                margin-left: 0px;
            }
            .main.showNav{
                right: 0px;
            }

        }

        @media only screen and (min-width: 1360px) {
            .betslip-button {
                display: none;
            }
          .utilities {
              margin-right: 0px;
          }
          .main.showBetslip{
              right: 0;
          }
        }
