.scoreboard  {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
body, html {
    overflow: hidden;
    height: 100%;
}

body {
    width: 100%;
}

.ovp-open .ovp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/* Grid Styles Here */
/* Wrapper around everything to help prevent scrolling */
.container {
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* 2009 syntax */
    -webkit-box-orient: vertical;
    /* Final syntax */
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.menu {
    -webkit-box-flex: 0 0 240px;
    width: 240px;
    -webkit-flex: 0 0 240px;
    -ms-flex: 0 0 240px;
    flex: 0 0 240px;

    overflow: auto;

    /* Negative margin left to push it off the screen */
    margin-left: -240px;
    transition: margin-left 0.35s;

    -webkit-overflow-scrolling: touch;

    -ms-overflow-style: none;
}

.utilities {
    -webkit-box-flex: 0 0 320px;
    width: 320px;
    -webkit-flex: 0 0 320px;
    -ms-flex: 0 0 320px;
    flex: 0 0 320px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* 2009 syntax */
    -webkit-box-orient: vertical;
    /* Final syntax */
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

    position: relative;

    background-color: #d3e9f7;

    overflow: auto;

    /* Negative margin right to push it off the screen */
    margin-right: -320px;
    transition: margin-right 0.35s;

    -webkit-overflow-scrolling: touch;

    overflow-x: hidden;

    -ms-overflow-style: none;
}

.centre-column {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* 2009 syntax */
    -webkit-box-orient: vertical;
    /* Final syntax */
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

    position: relative;

    -ms-overflow-style: none;
}

.ovp {
    -webkit-box-flex: 0 0 200px;
    height: 200px;
    -webkit-flex: 0 0 200px;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    display: none;
    padding: 0px;
    position: relative;

    background-image: url('/images/ssbg.jpg');
    background-position: center center;
    background-size: cover;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.centre-scroll {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;

    -webkit-overflow-scrolling: touch;
}

.x-sell-head {
    -webkit-box-flex: 0 0 38px;
    -webkit-flex: 0 0 38px;
    -ms-flex: 0 0 38px;
    flex: 0 0 38px;
    overflow: auto;
    padding: 0px;
}

.x-sell-hidden .x-sell-head {
    display: none;
}

.betslip-close {
    cursor: pointer;
}

#clickable-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: black;
    opacity: 0;

    transition: opacity 0.35s, z-index 0.35s step-end;
}

.utilities-betslip {
    -webkit-box-flex: 1 1 100%;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    min-width: 320px;

    overflow: hidden;

    transition: flex-basis 0.35s step-end;
}

.utilities-myaccount {
    -webkit-box-flex: 0 0 0px;
    -webkit-flex: 0 0 0px;
    -ms-flex: 0 0 0px;
    flex: 0 0 0px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    overflow: hidden;

    transition: flex-basis 0.35s step-end;
}

#myaccount-iframe {
    border: none;
    -webkit-box-flex: 1 1 100%;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}

.myaccount-open #clickable-overlay {
    z-index: 10;
    opacity: 0.4;
    transition: opacity 0.35s;
}

.myaccount-open .centre-scroll{
    overflow: hidden;
}
/* On screen sizes 1024px and above, remove the negative margin-left to show the navigation */
@media (min-width: 1024px) {
    .menu {
        margin-left: 0px;
    }

    #burger-nav-button {
        display: none;
    }
}

/* On screen sizes 1300px and above, remove the negative margin-right to show the utilities bar */
@media (min-width: 1300px) {
    .utilities {
        margin-right: 0px;
    }

    #betslip-placeholder {
        display: none;
    }

    .betslip-close {
        display: none;
    }

    .utilities-betslip {
        overflow: auto;
    }

    .utilities-myaccount{
        -webkit-box-flex: 1 1 100%;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;

        height: 100%;
        width: 320px;

        right: -320px;
        position: absolute;

        z-index: 10;

        transition: right 0.35s;
    }

    .myaccount-open .utilities-myaccount{
        right: 0;
    }
}

/* Screens less than 1300px wide */
@media (max-width: 1299px) {
    /*
    On scren sizes below 1300px, remove the negative margin-right to show the utilities bar
    when the betslip-open class is applied to the .container div
    */
    .betslip-open .utilities, .myaccount-open .utilities {
        margin-right: 0px;
    }

    .betslip-open #clickable-overlay {
        z-index: 10;
        opacity: 0.4;
        transition: opacity 0.35s;
    }

    .betslip-open .centre-scroll{
        overflow: hidden;
    }

    .betslip-open .utilities-betslip {
        overflow: auto;
    }

    .myaccount-open:not(.betslip-open) .utilities-betslip {
        -webkit-box-flex: 0 0 0px;
        -webkit-flex: 0 0 0px;
        -ms-flex: 0 0 0px;
        flex: 0 0 0px;

        transition: unset;
    }

    .myaccount-open .utilities-myaccount{
        -webkit-box-flex: 1 1 100%;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;

        transition: unset;
    }

    .betslip-open .utilities-myaccount{
        -webkit-box-flex: 1 1 100%;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;

        height: 100%;
        width: 320px;

        right: -320px;
        top: 0px;
        position: absolute;

        z-index: 10;

        transition: right 0.35s;
    }

    .betslip-open.myaccount-open .utilities-myaccount{
        right: 0;
    }
}

@media (min-width: 1024px) and (max-width: 1299px) {
    /*
    On scren sizes 1024px and above and below 1300px, add a negative margin-left to push the
    navigation off the screen when the betslip-open class is applied to the .container div
    so that the centre column maintains it's width
    */
    .betslip-open .menu, .myaccount-open .menu {
        margin-left: -320px;
    }
}

@media (max-width: 1023px) {
    /*
    On scren sizes below 1024px, remove the negative margin-left to show the navigation
    when the menu-open class is applied to the .container div
    */
    .menu-open .menu {
        margin-left: 0px;
    }

    .menu-open #burger-nav-button .i:before {
        content: attr(data-char-open);
    }
    /*
    On scren sizes below 1024px, increase the negative margin-left to show the push the
    utilities bar further off the screen when the menu-open class is applied to the .container
    div so that the centre column maintains it's width
    */
    .menu-open .utilities {
        margin-right: -560px;
    }

    /*
    On scren sizes below 1024px, increase the negative margin-right to show the push the
    navigation further off the screen when the betslip-open class is applied to the .container
    div so that the centre column maintains it's width
    */
    .betslip-open .menu, .myaccount-open .menu {
        margin-left: -560px;
    }

    .menu-open #clickable-overlay {
        z-index: 10;
        opacity: 0.4;
        transition: opacity 0.35s;
    }

    .menu-open .centre-scroll{
        overflow: hidden;
    }
}
