body, html {
    height: 100%;
}

body {
    width: 100%;
    overflow: hidden
}

.ovp-open .ovp {
    display: block;
}

/* Grid Styles Here */
/* Wrapper around everything to help prevent scrolling */
.container {
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* 2009 syntax */
    -webkit-box-orient: vertical;
    /* Final syntax */
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.navigation {
    -webkit-box-flex: 0 0 270px;
    width: 270px;
    -webkit-flex: 0 0 270px;
    -ms-flex: 0 0 270px;
    flex: 0 0 270px;

    /* Negative margin left to push it off the screen */
    margin-left: -270px;
    transition: margin-left 0.35s;
}

.utilities {
    -webkit-box-flex: 0 0 320px;
    width: 320px;
    -webkit-flex: 0 0 320px;
    -ms-flex: 0 0 320px;
    flex: 0 0 320px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* 2009 syntax */
    -webkit-box-orient: vertical;
    /* Final syntax */
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

    /* Negative margin right to push it off the screen */
    margin-right: -320px;
    transition: margin-right 0.35s;
}

.betslip {
    -webkit-box-flex: 1 1 100%;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    min-width: 320px;

    overflow: hidden;

    transition: flex-basis 0.35s step-end;
}

.my-account {
    -webkit-box-flex: 0 0 0%;
    -webkit-flex: 0 0 0%;
    -ms-flex: 0 0 0%;
    flex: 0 0 0%;

    overflow: hidden;

    transition: flex-basis 0.35s step-end;
}

.centre-column {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* 2009 syntax */
    -webkit-box-orient: vertical;
    /* Final syntax */
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.ovp {
    -webkit-box-flex: 0 0 250px;
    height: 250px;
    -webkit-flex: 0 0 250px;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
    display: none;
}

.centre-scroll {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
}

/* On screen sizes 1024px and above, remove the negative margin-left to show the navigation */
@media (min-width: 1024px) {
    .navigation {
        margin-left: 0px;
    }
}

/* On screen sizes 1300px and above, remove the negative margin-right to show the utilities bar */
@media (min-width: 1300px) {
    .utilities {
        margin-right: 0px;
    }

    .my-account{
        -webkit-box-flex: 1 1 100%;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;

        height: 100%;
        width: 320px;

        right: -320px;
        position: absolute;

        z-index: 10;

        transition: right 0.35s;
    }

    .myaccount-open .my-account{
        right: 0;
    }
}

/* Screens less than 1300px wide */
@media (max-width: 1299px) {
    /*
    On scren sizes below 1300px, remove the negative margin-right to show the utilities bar
    when the utilities-open class is applied to the .container div
    */
    .betslip-open .utilities, .myaccount-open .utilities {
        margin-right: 0px;
    }

    .betslip-open .betslip {
        overflow: auto;
    }

    .myaccount-open .betslip {
        -webkit-box-flex: 0 0 0%;
        -webkit-flex: 0 0 0%;
        -ms-flex: 0 0 0%;
        flex: 0 0 0%;

        transition: unset;
    }

    .myaccount-open .my-account{
        -webkit-box-flex: 1 1 100%;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;

        transition: unset;
    }
}

@media (min-width: 1024px) and (max-width: 1299px) {
    /*
    On scren sizes 1024px and above and below 1300px, add a negative margin-left to push the
    navigation off the screen when the utilities-open class is applied to the .container div
    so that the centre column maintains it's width
    */
    .betslip-open .navigation, .myaccount-open .navigation {
        margin-left: -320px;
    }
}

@media (max-width: 1023px) {
    /*
    On scren sizes below 1024px, remove the negative margin-left to show the navigation
    when the menu-open class is applied to the .container div
    */
    .menu-open .navigation {
        margin-left: 0px;
    }

    /*
    On scren sizes below 1024px, increase the negative margin-left to show the push the
    utilities bar further off the screen when the menu-open class is applied to the .container
    div so that the centre column maintains it's width
    */
    .menu-open .utilities {
        margin-right: -590px;
    }

    /*
    On scren sizes below 1024px, increase the negative margin-right to show the push the
    navigation further off the screen when the utilities-open class is applied to the .container
    div so that the centre column maintains it's width
    */
    .betslip-open .navigation, .myaccount-open .navigation {
        margin-left: -590px;
    }
}
