.realistic .navigation,
.realistic .header,
.realistic .ovp,
.realistic .utilities,
.realistic .x-sell-head,
.realistic .main-content,
.realistic .x-sell-carousel,
.realistic .footer {
    box-sizing: border-box;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #FAFAFA;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
}

.navigation {
    background: #3F51B5;
}

.header {
    background: #F44336;
}

.ovp {
    background: #009688;
}

.betslip {
    background: #FF9800;
}

.my-account {
    background: #E91E63;
}

.x-sell-head {
    background: #607D8B;
}

.main-content {
    background: #8BC34A;
}

.x-sell-carousel {
    background: #00BCD4;
}

.footer {
    background: #795548;
}

.realistic .header,
.realistic .ovp,
.realistic .x-sell-head,
.realistic .main-content,
.realistic .x-sell-carousel,
.realistic .utilities,
.realistic .footer {
    padding: 0;
}

.realistic .header {
    line-height: 47px;
}

.realistic .ovp {
    line-height: 250px;
}

.realistic .x-sell-head {
    line-height: 38px;
}

.realistic .main-content {
    line-height: 600px;
}

.realistic .x-sell-carousel {
    line-height: 128px;
}

.realistic .footer {
    line-height: 450px;
}